* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.connect-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #76ff54; /* Light Blue-Green */
  color: #ffffff; /* Dark Gray */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.connect-button:hover {
  background-color: #95a5a6; /* Light Gray */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black; /* Light Blue-Green */
  color: #ffffff; /* Dark Gray */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: white 1px solid;
}

.address-container {
  display: flex;
  align-items: center;
}

.address-container span {
  margin-right: 10px;
}

.refresh-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4ef31c; /* Light Gray */
  color: #ffffff; /* Dark Gray */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.refresh-button:hover {
  background-color: #b2b2b2; /* Gray */
}

.container-sidebar {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #121212; /* Light Blue-Green */
  padding-top: 20px;
  border-right: white solid 1px;
}

.sidebar ul {
  list-style: none; 
}

.sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  color: #000000; /* Dark Gray */
  background-color: #ffffff; /* Light Gray */
}

.Nft_mint {
  flex-grow: 1;
  padding: 20px;
  background-color: #000000; /* Light Blue-Green */
  display: flex;
  flex-direction: column; /* Ensure children stack vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  max-height: 100vh; /* Limit height to viewport height */
  overflow-y: auto; /* Add scrollbar if content exceeds viewport */
}

.Section_head {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.token_row {
  margin-bottom: 15px;
}

.input_field,
.text_area {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text_area {
  height: 150px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #b2d8d8; /* Light Blue-Green */
  color: #333; /* Dark Gray */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #95a5a6; /* Light Gray */
}
